include PyTrinamic/modules/TMCM1160/TMCM_1160_V3.20.eds
include PyTrinamic/modules/TMCM1270/TMCM_1270_V3.22.eds
include PyTrinamic/modules/TMCM1276/TMCM_1276_V3.22.eds
include PyTrinamic/modules/TMCM1617/TMCM_1617_Hw1.2_Fw1.06.eds
include PyTrinamic/modules/TMCM1633/TMCM_1633_Hw1.0_Fw2.10.eds
include PyTrinamic/modules/TMCM1636/TMCM_1636_Hw1.1_Fw1.08.eds
include PyTrinamic/modules/TMCM1670/TMCM_1670_Hw1.2_Fw2.00.eds
include PyTrinamic/modules/TMCM3110/TMCM_3110_V.320.eds
include PyTrinamic/modules/TMCM6212/TMCM_6212_V.3.22.eds
