include PyTrinamic/modules/TMCM1160/TMCM_1160.eds
include PyTrinamic/modules/TMCM1270/TMCM_1270.eds
include PyTrinamic/modules/TMCM1276/TMCM_1276.eds
include PyTrinamic/modules/TMCM1617/TMCM_1617.eds
include PyTrinamic/modules/TMCM1633/TMCM_1633.eds
include PyTrinamic/modules/TMCM1670/TMCM_1670.eds
